project:
  type: website
  output-dir: docs

website:
  title: "JHU Data Services **Data Dispatches**"
  reader-mode: false
  page-navigation: false
  search:
    location: sidebar
  
  navbar: 
    logo: logos/jhu-shield.png
    background: primary
    right: 
    - icon: github
      href: https://github.com/jhu-data-services
    - icon: globe2 
      href: https://dataservices.library.jhu.edu/
    - text: "Help"
      menu:
        - text: "Report an Issue"
          icon: "bug"
          href: "https://github.com/jhu-data-services/data-dispatches/issues"
        - text: "Contact Data Services"
          icon: "envelope"
          href: "dataservices@jhu.edu"
  sidebar: 
    - id: dispatches
      title: "Data Tutorials"
      style: "docked"
      search: true
      collapse-level: 2
      contents:
        - index.qmd
        - section: "Data Visualization"
          contents:
            - dispatches/data-visualization/custom-ggplot2-theme.qmd
            - dispatches/data-visualization/order-by-multiple-variables.qmd
            - dispatches/data-visualization/visualizing-clusters.qmd
        - section: "Access and APIs"
          contents:
            - dispatches/data-access/managing-secrets.qmd
            - dispatches/data-access/Introduction-to-APIs-in-R-Tutorial.qmd
  page-footer: 
    background: primary
    left: "Copyright 2024, JHU Data Services." 
    right: "This site was built with ❤️ and **[Quarto](https://quarto.org/)**."
format:
  html:
    theme: custom.scss
    toc: true
editor: source
callout-appearance: simple
