/* css styles */
.navbar-logo {
	max-height: 40px;
	width: auto;
	padding-right: 10px;
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.nav-footer {
  color: #fff;
}

.nav-footer a{
  color: #fff;
}

